/* Preferred box-sizing value */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

body {
    overflow-wrap: break-word;
}


input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}


/* Reapply the pointer cursor for anchor tags */
a,
button {
    cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol,
ul,
menu {
    list-style: none;
    padding: 0;
}

/* For images to not be able to exceed their container */
img {
    max-inline-size: 100%;
    max-block-size: 100%;
}

/* removes spacing between cells in tables */
table {
    border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input,
textarea {
    -webkit-user-select: auto;
    /* all: unset; */
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
    white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
    -webkit-appearance: revert;
    appearance: revert;
}

/* preformatted text - use only for this feature */
pre {
    all: revert;
}

/* reset default text opacity of input placeholder */
::placeholder {
    color: unset;
}

/* remove default dot (•) sign */
::marker {
    content: initial;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
    display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly.
   - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable="false"])) {
    -moz-user-modify: read-write;
    -webkit-user-modify: read-write;
    overflow-wrap: break-word;
    -webkit-line-break: after-white-space;
    -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
    -webkit-user-drag: element;
}

/* Revert Modal native behavior */
:where(dialog:modal) {
    all: revert;
}

/* -------------------------------------------------------------------------------------- */

@import url("https://fonts.googleapis.com/css2?family=Poppins");

h1 {
    text-align: center;
}

.logo {
    all: unset();
    text-decoration: none;
    font-size: 3em;
    color: black
}

.logo:active {
    color: black;
}


.App {
    display: flex;
    flex-direction: column;
    font-family: 'Poppins'

}

.pages {
    flex: 1;
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    margin: 0 auto;

}

.content-wrapper {
    flex: 1;
    display: flex;
    left: 0;
    position: relative;
}

.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    background-color: #4c4d4d;
    color: hsla(0, 0%, 98%, .9)
}

.login-container input {
    display: block;
    width: 80%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    background-color: rgb(35, 42, 49) !important;
    border: none;
    color: hsla(0, 0%, 98%, .9);
    font-size: 1.2em;
    transition: box-shadow 0.2s ease 0s;
}

.login-container button {
    padding: 10px 45px;
    color: white;
    background-color: #20c997;
    border: none;
    border-radius: 30px;
    font-size: 1.2em;
    transition: all 0.1s ease-in-out 0s;
}

.logout-btn {
    border: none;
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    color: white;
    background-color: #b23b3b;
    border: none;
    font-size: 1.2em;
    transition: all 0.1s ease-in-out 0s;
}

.logout-btn:hover {
    background-color: #6b1d1d;
    cursor: pointer;
}

.editor-wrapper {
    width: 100%;
    margin-top: 20px;

}



/* .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background-color: aqua;
} */

.main-content-wrapper {
    width: 100%;

}


/* sidebar styling */
/* ----------------------- */

.sidePanel {
    position: sticky;
    top: 0;
    height: 100vh;
    background-color: #4c4d4d;
    color: hsla(0, 0%, 98%, .9);
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.sidePanel .links {
    position: absolute;
    display: flex;
    gap: 25px;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.5em;

}

.sidePanel .links:hover {
    cursor: pointer;

}

.sidePanel .links a {
    color: hsla(0, 0%, 98%, .8);
}

.sidePanel ul {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 15px;
    margin-bottom: 60px;
}

.sidePanel ul li a {
    color: hsla(0, 0%, 98%, .9);
    text-decoration: none;
    font-size: 16px;
    line-height: 2;
    transition: all 0.1s ease-in-out 0s;
}

.sidePanel ul li a:hover {
    color: #20c997;
    cursor: pointer;
}

.sidePanel ul li a.active {
    color: #20c997;
}

.sidePanel img {
    width: 180px;
    margin-top: 20px;
    border: 10px solid #343a40;
    border-radius: 50%;
}

.sidePanel .myName {
    font-size: 1.4em;
    margin-top: 15px;
    font-family: 'Poppins'
}

/* ------------------------ */



/* home section */
/* -------------------------------------------- */


.home-wrapper {
    height: 100vh;
    width: 100%;
    background-image: url("imgs/background-img.jpg");
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: hsla(0, 0%, 98%, .9);
    line-height: 2;
    position: relative;
}

.home-wrapper h2 {
    font-size: 5em;
}

.home-wrapper .Typewriter {
    font-size: 2em;
}

.home-wrapper p {
    font-size: 1.5em;
}

.home-wrapper .animated-chevron {
    font-size: 2em;
    position: absolute;
    bottom: 20px;
    animation: 1.5s godown infinite forwards;
    animation-timing-function: ease-out;
}

.home-wrapper .animated-chevron:hover {
    cursor: pointer;
}

@keyframes godown {
    from {
        bottom: 30px;
        opacity: 0;
    }

    to {
        bottom: 10px;
        opacity: 1;
    }
}

/* -------------------------------------------- */

/* About me section */

/* -------------------------------------------- */

.aboutMe-section {
    background-color: #212529;
}

.content-container {
    max-width: 1000px;
    margin: 0 auto;
    color: hsla(0, 0%, 98%, .9);
    padding: 20px;
}


.section--heading {
    position: relative;
    display: grid;
    justify-content: center;
    text-align: center;
    align-items: center;

}

.section--heading p {
    opacity: 0.1;
    font-size: 6em;
    font-weight: bold;
    grid-row: 1/2;
    grid-column: 1/2;
}

.section--heading h2 {
    grid-row: 1/2;
    grid-column: 1/2;
    font-size: 1.8em;
}

.section--heading .separator {
    border-top: 3px solid #20c997;
    color: green;
    display: inline-block;
    width: 100px;
    margin: 0 auto;
    transform: translateY(-50px);
}

.aboutMe-section .middle {
    display: flex;
    gap: 30px;
    line-height: 2;
    align-items: baseline;

}

.about-me-middle--left span {
    color: #20c997;
}



.about-me-middle--left p {
    color: hsla(0, 0%, 100%, .5);

}

.about-me-middle--right p {
    padding: 5px 0;
    border-bottom: 1px solid rgba(250, 250, 250, 0.12);
}

.cv-btn {
    background-color: #20c997;
    border: none;
    padding: 10px 30px;
    border-radius: 50px;
    font-size: 1.5em;
    color: hsla(0, 0%, 98%, .8);
    margin-top: 20px;
    transition: all 0.5s ease;
}

.cv-btn:hover {
    background-color: #1ca97f;
    cursor: pointer;
}

.about-me-bottom {
    display: flex;
    justify-content: space-around;
    padding: 40px 0;
    color: hsla(0, 0%, 100%, .5)
}

.about-me-bottom .experience {
    text-align: center;
}


.about-me-bottom .projects {
    text-align: center;
}


.about-me-bottom .clients {
    text-align: center;
}

.about-me-bottom .separator {
    width: 1px;
    height: 97px;
    background-color: hsla(0, 0%, 98%, .8);

}

.about-me-bottom .number {
    font-size: 3em;
}


/* What I Do section  */
/* -------------------------------- */
.whatido-section {
    background-color: #343a40;
    padding: 20px;
}

.whatido-grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 30px;
}

.whatido-flex-container {
    display: flex;
    gap: 20px;
}

.whatido-flex-container .icon svg {
    font-size: 3em;
    color: #20c997;

    display: inline-block;

}

.whatido-flex-container .icon {
    background-color: #212529;
    width: 70px;
    height: 70px;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.whatido-flex-container p {
    line-height: 1.8;
}

.whatido-flex-container h2 {
    margin-bottom: 10px;
}


/* Blog section */
/* -------------------------------------------- */

.blog-section {
    background-color: #212529;
}

.blog-section .posts {


    margin-top: 30px;
    margin-bottom: 30px;
}

.blogArticlev img {
    display: block;
}

.blogArticle {
    width: 80%;
    margin: 0 auto;
    background-color: #111418;
    border-radius: 10px;
    box-shadow: 0 0 10px #fff;
    display: flex;
    flex-direction: row;
}


.posts .blogArticle {
    margin-bottom: 40px;
}

.article-teaser {
    padding: 20px;
}

.blogArticle p {
    text-decoration: none;
    color: hsla(0, 0%, 98%, .9);
    padding: 10px 0;
}

.blogArticle h2 {
    text-decoration: none;
    color: hsla(0, 0%, 98%, .9);
}

.blogArticle img {
    width: 250px;
    border-radius: 10px;

}

.blog-container {
    padding-bottom: 70px;
}

/* Portfolio design */
/* ------------------------------------- */

.portfolio-section {
    background-color: #343a40;
}

.portfolio-section .navigation {
    display: flex;
    justify-content: center;
    gap: 50px;
}



.portfolio-section ul li button {
    background-color: #343a40;
    color: hsla(0, 0%, 98%, .9);
    font-size: 1.3em;
    border: none;
    transition: all 0.1s ease-in-out 0s;
}



.portfolio-section ul li button:hover {
    cursor: pointer;
    color: #20c997;
}

.portfolio-section ul li button:focus,
.portfolio-section ul li button.active {
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-decoration-color: #20c997;
    text-underline-offset: 10px;
    color: #20c997;
}


.projects-container {
    height: 400px;
    position: relative;
    width: 100%;
    line-height: 2;
}



.project.mern {
    animation: slide-in--left 1s ease 0s 1 forwards;
    position: absolute;
}

.project.react ul li a,
.project.javascript ul li a,
.project.algorithms ul li a,
.project.mern ul li a {
    font-size: 24px;
    display: flex;
    align-items: center;
    gap: 13px;
    text-decoration: none;
    color: hsla(0, 0%, 98%, .9);
    border: 3px solid black;
    padding: 5px 10px;
    margin-bottom: 15px;
    border-radius: 10px;
    box-shadow: 0 0 5px #20c997;
}

.project.mern ul li a svg,
.project.javascript ul li a svg,
.project.algorithms ul li a svg,
.project.react ul li a svg {
    color: #1ca97f;
    font-size: 1.5em;
}

.project ul li {
    transition: all 0.1s ease-in-out 0s;
    ;
}

.project ul li:hover {
    background-color: #111418;
}

.project.react {
    animation: slide-in--right 1s ease 0s 1 forwards;
    position: absolute;
}

.project.javascript {
    animation: slide-in--top 1s ease 0s 1 forwards;
    position: absolute;
}

.project.algorithms {
    animation: slide-in--bottom 1s ease 0s 1 forwards;
    position: absolute;
}

@keyframes slide-in--left {
    from {
        top: 50%;
        left: 20%;
        opacity: 0%;
        transform: translateY(-50%);
    }

    to {
        top: 50%;
        left: 50%;
        opacity: 100%;
        transform: translate(-50%, -50%);
    }
}

@keyframes slide-in--right {
    from {
        top: 50%;
        right: 20%;
        opacity: 0%;
        transform: translateY(-50%);
    }

    to {
        top: 50%;
        right: 50%;
        opacity: 100%;
        transform: translate(50%, -50%);
    }
}

@keyframes slide-in--top {
    from {
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        opacity: 0%;
    }

    to {
        top: 50%;
        left: 50%;
        opacity: 100%;
        transform: translate(-50%, -50%);
    }
}

@keyframes slide-in--bottom {
    from {
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        opacity: 0%;
    }

    to {
        bottom: 50%;
        left: 50%;
        opacity: 100%;
        transform: translate(-50%, 50%);
    }
}


/* Resume Section */

.resume-section {
    background-color: #212529;
}

.resume-containers h2 {
    color: hsla(0, 0%, 98%, .9);
    margin-bottom: 10px;
}

.resume-containers {
    display: flex;
    gap: 30px;
}

.resume-containers .date {
    background-color: rgb(220, 53, 69);
    display: inline-block;
    padding: 5px 15px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.resume-containers .occupation {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
}

.resume-containers .establishment {
    color: #20c997;
    margin-bottom: 10px;
}

.resume-box {
    background-color: #111418;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
}



/* Contact Section */
/* --------------------------------------------- */

.contact-section {
    background-color: #343a40;

}




.contact-flex {
    display: flex;
    gap: 30px;
}

.contact-flex--right {
    flex: 1;
}

.contact-flex input,
textarea {
    display: block;
    width: 80%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    background-color: rgb(35, 42, 49) !important;
    border: none;
    color: hsla(0, 0%, 98%, .9);
    font-size: 1.2em;
    transition: box-shadow 0.2s ease 0s;
}

.contact-flex input:focus,
textarea:focus {
    box-shadow: 0 0 10px steelblue;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}


.email ::placeholder {
    color: hsla(0, 0%, 100%, .5);
    opacity: 1;
    font-size: 14px;
    font-style: italic;
}



.contact-flex--right button {
    padding: 10px 45px;
    color: white;
    background-color: #20c997;
    border: none;
    border-radius: 30px;
    font-size: 1.2em;
    transition: all 0.1s ease-in-out 0s;
}

.contact-flex--right button:hover {
    cursor: pointer;
    background-color: #1ca97f;
}

.address,
.address-container,
.contact {
    margin-bottom: 20px;
}

.follow {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 20px;
}



.follow-container .links:hover {
    cursor: pointer;

}

.follow-container .links a {
    color: hsla(0, 0%, 98%, .8);
    margin-right: 20px;
    font-size: 1.5em;
}

.heading-email {
    margin-bottom: 20px;
}

.email {
    width: 100%;
    margin: 0 auto;
}

.email-container {
    flex: 1;
    margin-bottom: 35px;
}

.contact-flex--right {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-flex--right input,
.contact-flex--right textarea {
    min-width: 100%;
}

/* --------------------------------------------- */

/* -------------------------------------------- */

/* Footer design */

/* -------------------------------------------- */

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #212529;
    color: hsla(0, 0%, 98%, .8);
    padding: 30px 0px;
}


/* ----------------------- */

/*  Styling Blog Post */

.article-wrapper {
    background-color: #343a40;
    width: 100%;
    min-height: 100vh;
}

.article-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.article-wrapper h1 {
    margin-bottom: 30px;
}

.article-wrapper .article {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 35px;
}

.article-wrapper form input {
    display: block;
    background-color: black;
}


.article-wrapper button {
    padding: 10px 45px;
    color: white;
    background-color: #20c997;
    border: none;
    border-radius: 30px;
    font-size: 1.2em;
    transition: all 0.1s ease-in-out 0s;
}

.article-wrapper button:hover {
    cursor: pointer;
    background-color: #1ca97f;
}

.article-wrapper input {
    display: block;
    width: 95%;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(35, 42, 49) !important;
    border: none;
    color: hsla(0, 0%, 98%, .9);
    font-size: 1.2em;
    transition: box-shadow 0.2s ease 0s;
}

.article-wrapper textarea {
    height: 70px;
    width: 95%;
    overflow-wrap: break-word;
    margin-bottom: 0;
    resize: vertical;
}

.article .article-text {
    padding: 0 40px;
}

.article-wrapper input:focus {
    box-shadow: 0 0 10px steelblue;
}

.article-wrapper form button {
    display: block;
}

.article-wrapper .comment-wrapper {
    width: 70%;
}

.comment-wrapper .comment-heading {
    display: flex;
    justify-content: space-between;
}

.comment-wrapper .comment {
    margin-bottom: 20px;
    background-color: #111418;
    padding: 20px;
    border-radius: 15px;
}

.comment-author span {
    color: #20c997;
    text-transform: capitalize;
}

.comment-wrapper .comment .separator {
    height: 2px;
    background-color: steelblue !important;
    margin-bottom: 10px;
}

.form-content {
    width: 80%;
    display: block;
    margin: 0 auto;
}

.form-content h2 {
    margin-bottom: 20px;
}

p.limit-word-count {
    font-style: italic;
    transform: translateY(-0%);
    text-align: end;
    margin-right: 35px;

}

.comment-form label {
    font-size: 1.2em;
}

.comment-form {
    width: 80%;
    margin: 40px 0;
}

/* ---------------------------- */


/* Dashboard */
/* Admin Section */
/* ---------------------------- */

.main-dashboard {
    min-height: 100vh;
    width: 100%;
    background-color: rgb(35, 42, 49);
    color: hsla(0, 0%, 98%, .9)
}

.main-dashboard a {
    text-decoration: none;
    color: hsla(0, 0%, 98%, .8);
    transition: all 0.2s ease-in;
    font-size: 1.3em;
    display: block;
    margin-bottom: 5px;
}

.main-dashboard .create-post {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-70%);
    font-size: 1.5em;
    font-weight: bold;
}

.main-dashboard h3 {
    font-size: 1.5em;
    margin-bottom: 15px;
}

.main-dashboard a:hover {
    color: #1ca97f;
}

.wrapper--isPublished {
    display: flex;
    justify-content: center;
    gap: 200px;
    margin-top: 100px;
}

.publishedContainer,
.unPublishedContainer {
    padding: 50px;

}

.publishedContainer {
    border: 2px solid #20c997;
    box-shadow: 0 0 10px #20c997;
}

.unPublishedContainer {
    border: 2px solid red;
    box-shadow: 0 0 10px red;
}


.comment-wrapper .delete-btn {
    background-color: red;
    padding: 0 10px;
    border-radius: 0;
    margin-bottom: 5px;
}

.crud-buttons button {
    margin: 25px 0;
    margin-left: 15px;
}


.comment-wrapper .delete-btn:hover {
    background-color: rgb(173, 0, 0)
}

.crud-buttons .delete-btn {
    background-color: red;
}

.crud-buttons .delete-btn:hover {
    background-color: rgb(173, 0, 0)
}

.crud-buttons .publish-btn {
    background-color: steelblue;
}

.crud-buttons .publish-btn:hover {
    background-color: rgb(54, 100, 138);
}


.editor-wrapper {
    background-color: #343a40;
    width: 100%;
    min-height: 100vh;
    margin: 0;
}

.editor-inputs-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.editor-inputs-container input {
    display: block;
    width: 60%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    background-color: rgb(35, 42, 49) !important;
    border: none;
    color: hsla(0, 0%, 98%, .9);
    font-size: 1.2em;
    transition: box-shadow 0.2s ease 0s;
}

.tox.tox-tinymce {
    margin-bottom: 30px;
}

.content-container.editor {
    max-width: 1500px
}

.editor-inputs-container button {
    padding: 10px 45px;
    color: white;
    background-color: #20c997;
    border: none;
    border-radius: 30px;
    font-size: 1.2em;
    transition: all 0.1s ease-in-out 0s;
}

.editor-inputs-container button:hover {
    cursor: pointer;
    background-color: #1ca97f;
}

.editor-inputs-container input:focus {
    box-shadow: 0 0 10px steelblue;
}

.article-flex.admin-article img {
    margin-bottom: 20px;
}

.publish-checkbox {
    display: inline-block !important;
    border: none;
    width: 20px;
    height: 20px;
}

.publish-checkbox:focus {
    box-shadow: 0 0 0px !important;
}



/* Media Queries */
/* ---------------------------- */

.navbar {
    display: none;
}

/* Hamburger menu */

.menu-btn {
    position: absolute;
    z-index: 3;
    right: 35px;
    top: 42px;
    transform: translateY(-50%);
    cursor: pointer;
    transition: all 0.5s ease-out;
}


/* Styling the three lines
    to make it an X */
.menu-btn.close .btn-line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.menu-btn.close .btn-line:nth-child(2) {
    opacity: 0;
}

.menu-btn.close .btn-line:nth-child(3) {
    transform: rotate(-45deg) translate(7px, -6px);
}

/* Adding a transition delay to the
       4 items in the navigation menu */
.nav-item:nth-child(1) {
    transition-delay: 0.1s;
}

.nav-item:nth-child(2) {
    transition-delay: 0.2s;
}

.nav-item:nth-child(3) {
    transition-delay: 0.3s;
}

.nav-item:nth-child(4) {
    transition-delay: 0.4s;
}

.menu-btn .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: black;
    transition: all 0.5s ease-out;
    background-color: hsla(0, 0%, 98%, .9)
}

.hamburger-nav-items {
    position: fixed;
    top: 80px;
    left: 0;
    background-color: rgba(0, 0, 0, 0.95);
    width: 100%;
    height: 0;
    overflow-y: hidden;
    z-index: 100;
    transition: all 0.5s ease;
}

.hamburger-nav-items.show {
    height: 280px;
}

.navbar {
    display: none;
    -webkit-backface-visibility: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(17, 20, 24);
    justify-content: space-between;
    color: hsla(0, 0%, 98%, .9);
    align-items: center;
    padding: 0 30px;
    height: 80px;
    z-index: 100;
}

.navbar p {
    font-size: 1.5em;
    font-weight: bold;
}

.navbar .flex-right {
    display: flex;
    gap: 20px;
}

.hamburger-nav-items .separator {
    height: 2px;
    background-color: hsla(0, 0%, 100%, .2);
    margin-left: 15px;

}

.hamburger-nav-items ul li a {
    color: hsla(0, 0%, 98%, .9);
    text-decoration: none;
    font-size: 16px;
    line-height: 2;
    transition: all 0.1s ease-in-out 0s;
    display: block;
    margin-top: 5px;
    margin-left: 15px;
}

.hamburger-nav-items ul li a:hover {
    color: #20c997;
    cursor: pointer;
}

.hamburger-nav-items ul li a.active {
    color: #20c997;
}


@media (max-width: 875px) {
    .sidePanel {
        display: none;
    }

    .content-container {
        padding: 0 60px;
    }

    .navbar {
        display: flex;
    }

    .home-wrapper {
        margin-top: 80px;
        height: calc(100vh - 80px);
    }

    .aboutMe-container .middle {
        display: block;
    }

    .about-me-middle--left p {
        text-align: center;
        margin-bottom: 30px;
    }

    .contact-container .contact-flex {
        display: block;
    }

    .email-container {

        margin-bottom: 0;
    }

    .posts-container .posts {
        margin-bottom: 0;
    }

    section {
        padding-bottom: 50px;
    }

    .portfolio-section {
        padding-bottom: 0px;
    }

    .whatido-section {
        padding-bottom: 50px;
    }

    .aboutMe-section {
        padding: 0;
    }

    .contact-container .contact-flex {
        display: grid;
        grid-template-rows: 1/2;
    }

    .email-container {
        grid-row: 1/2;
    }

    .contact-flex--left {
        text-align: center;
    }

    .resume-containers {
        display: block;
    }

    .blogArticle {
        display: block;
        width: 60%;
    }

    .blogArticle img {
        width: 100%;
    }

    .blogArticle .article-teaser h2 {
        text-align: center;
    }

    .comment-wrapper {
        width: 95% !important;
    }

    .form-content {
        width: 100%;
    }

    .article .article-text {
        padding: 10px;
        text-align: center;
    }

}

@media (max-height:640px) {
    .sidePanel {
        min-height: 640px;
    }
}


@media (max-width: 640px) {
    .section--heading>p {
        font-size: 4em;
    }

    .section--heading .separator {
        transform: translateY(-20px);
    }

    .section--heading h2 {
        font-size: 2em;
    }

    .whatido-grid-container {
        display: block
    }

    .whatido-flex-container {
        display: block;
        position: relative;
        padding-top: 30px;
    }

    .whatido-flex-container:not(:last-child) p {
        margin-bottom: 25px;
    }

    .whatido-flex-container .icon {
        margin: 0 auto;
        position: absolute;
        right: 0;
        top: 7px;
    }

    .whatido-flex-container h2 {
        padding-bottom: 25px;
        padding-top: 0;
        margin: 0;
    }

    .about-me-bottom {
        gap: 20px;
    }

    .projects-container .project {
        width: 100%;
    }

    .navigation {
        gap: 5px !important;
    }

    .blogArticle {
        width: 100%;
    }

    .blogArticle img {
        width: 100%;
    }

    .article .article-text {
        padding: 0px;
    }
}